@font-face {
  font-family: humor-sans;
  src: local(xkcd), url("fonts/xkcd.ttf") format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.listitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-family: "humor-sans", "Arial", serif;
}

.deleteme {
  float: right;
}

.lalista {
  width: 300px;
  margin: 0 auto;
  max-width: 300px;
}

.listitem:nth-child(odd) {
  background-color: aliceblue;
}

.checked {
  margin-right: 15px;
}

.titolo {
  font-family: humor-sans;
  font-weight: bold;
  text-align: center;
}

footer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  bottom: 0;
}

#collapseExample {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}